@(iaForm: Form[IAjob])

@import helper._
@import helper.twitterBootstrap._
@implicitFieldConstructor = @{ FieldConstructor(extra.twitterBootstrapInput.f) }
@main("Image analysis", nav="ia") {
   <style>
        #drop_zone {
            border: 2px dashed #bbb;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            padding: 25px;
            text-align: center;
            color: #bbb;
            margin-top:10px;
            }
        
        .auto-width {
            width: auto;
        }
        </style>
        
   @helper.form(action = routes.IAcontroller.submit(), 'enctype -> "multipart/form-data", 'id -> "imageprocessingForm", 'class->"form-horizontal") {
        <h2>Image analysis</h2>
        <hr>
        
        <!--TIPS START-->
        <script>
            $(document).ready(function() {
                if( $.cookie('tip-filename') == null){
                    $('#tip-filename').show();
                }if( $.cookie('tip-labelhelp') == null){
                    $('#tip-labelhelp').show();
                }if( $.cookie('tip-gitter') == null){
                    $('#tip-gitter').show();
                }
            })
        </script>
        
        
        <div class="alert alert-warning hide" id="tip-gitter">
          <button type="button" class="close" data-dismiss="alert" onclick="$.cookie('tip-gitter', true, { expires : 60 });">&times;</button>
          <div class="tip-content">
              <strong>New image analysis tool integrated! </strong>
              To improve image analysis in SGATools we integrated <a target="_blank" href="http://gitter.ccbr.utoronto.ca">gitter</a> image analysis tool.
              <br>
              For more information and to download standalone version of gitter, visit <a target="_blank" href="http://gitter.ccbr.utoronto.ca">http://gitter.ccbr.utoronto.ca</a>.
          </div>
        </div>
        
        <div class="alert alert-info hide" id="tip-labelhelp" style="margin-bottom:5px">
          <button type="button" class="close" data-dismiss="alert" onclick="$.cookie('tip-labelhelp', true, { expires : 60 });">&times;</button>
          <div class="tip-content">
              <strong>Quick help tip! </strong>clicking labels with <abbr title="">dotted underlines</abbr> will provide you with additional help
          </div>
        </div>
        
        <div class="alert alert-info hide" id="tip-filename">
          <button type="button" class="close" data-dismiss="alert" onclick="$.cookie('tip-filename', true, { expires : 60 });">&times;</button>
          <div class="tip-content" style="cursor: hand; cursor: pointer;" onclick="labelHelpClicked('file-naming-help')" data-target="#helpModal" data-toggle="modal">
              <strong>File naming tip! </strong>
              If you want to score your data after image analysis and normalization, the file names need to follow a pattern. For example, for the control plate of query YER103W crossed into plate 12 of the array should be named like <code>username_ctrl_YER103W_12_...jpg</code>, and double mutant file as <code>username_dm_YER103W_12_...jpg</code>.  The parsed plate type, query name, and plate number are updated in a table below.
              <br>
              Click this alert box to see further details
          </div>
        </div>
        
        
        
        <!--TIPS END-->
        
        <h3 style="margin-bottom:10px">Data input</h3>
        
        <fieldset>
        
            <!--<div id="drop_zone"><h2>Drop files here</h2></div>-->
            
            <!--Images select button-->
              @inputFile(
                iaForm("plateImages"),
                '_label -> "Plate image(s)",
                'multiple -> "",
                'accept -> "image/gif, image/jpeg, image/png",
                'uploadwidget -> "Select image(s)",
                'helpModal -> "ia-plate-files"
            )
            
            
            
            <!--Plate format of the screen images-->
            @select(
                iaForm("plateFormat"), 
                options = options(ComboboxOpts.plateFormat),
                '_label -> "Plate format",
                '_showConstraints -> false,
                'style -> "width:350px",
                'helpModal -> "ia-plate-format"
            )
        </fieldset>
        
        <hr>
        
        <h3 style="margin-bottom:10px">Options</h3>
        <fieldset>
            @helper.input(
                iaForm("autoRotate"),
                '_label -> "Autorotate",
                '_showConstraints -> false,
                'helpModal -> "ia-rotate-option"
            ){ (id, name, value, args) =>
                <label class="checkbox">
                    <input id="@id" name="@name"  @toHtmlArgs(args) type="checkbox" value="true">
                    <span>&nbsp; Automatically adjust rotation of my image(s)</span>
                </label>
            }
            
            @select(
                iaForm("inverse"),
                options = options(("true", "Dark"), ("false", "Bright")),
                '_label -> "Colonies",
                '_showConstraints -> false,
                'class -> "auto-width",
                'helpModal -> "ia-inverse-option",
                'helpInline -> "colonies compared to plate background"
            )
            
            @helper.input(
                iaForm("email"),
                '_label -> "Notification email",
                '_showConstraints -> false,
                'helpModal -> "ia-email-option"
            ){ (id, name, value, args) =>
                <div>
                    <input placeholder="your.email@@university.com" class="span2" id="@id" name="@name" @toHtmlArgs(args) size="32" type="text" style="width:175px">
                    <span class="help">&nbsp; Receive notification once your job is complete. Recommended for more than 5 images.</span>
                </div>
            }
        </fieldset>
        
        <!--Loaded plates only visible when images selected (done via JS)-->
        <div id="loaded-plates" style="display:none">
            <h3 id="loaded-label" style="margin-bottom:10px">Loaded image file(s)</h3>
            <fieldset>
                <table id="loaded-table" class="table table-condensed">
                <thead><tr>
                
                <!--<th>Plate image</th>-->
                <th>File name</th><th>Screen type</th><th>Query name</th><th>Array plate id</th></tr></thead>
                <tbody></tbody>
                </table>
            </fieldset>
        </div>
        
        <!--Submit/clear all box-->
        <div class="form-actions">
          <button id="iasubmit" type="submit" class="btn btn-primary">Process images</button>
          <a href="@routes.IAcontroller.initIAForm()"><button id="clearall" type="button" class="btn">Clear all</button></a>
        </div>
    }
    
    <div id="uploadingDiv" class="hide">
        @loading("Uploading images", "")
    </div>
    
    <div id="loadingDiv" class="hide">
        @loading("Processing images", "Expected time: 10-15 seconds per image")
    </div>

    <!-- Scripts for the page -->
    <script src="@routes.Assets.at("javascripts/ia.js")"></script>
    <script>
        $(document).ready(function(){
            $('#iasubmit').attr('disabled', 'disabled');
            //$('#cg-plateImages.control-group .controls').append('<div id="drop_zone"><h2>Drop files here</h2></div>');
            //var dropZone = document.getElementById('drop_zone');
              //dropZone.addEventListener('dragover', handleDragOver, false);
              //dropZone.addEventListener('drop', handleFileSelect, false);
        });
        // Submit click 
        $("#iasubmit").click(function(e) {
            if (!validateForm()) {
                return false;
            }
            
            $('#imageprocessingForm').toggleClass("hide");
            
            if ($("#email").val().length > 0) {
                $('#uploadingDiv').toggleClass("hide");
            } else {
                $('#loadingDiv').toggleClass("hide");
            }
        });
        
        $('#plateImages').change(handleFileSelect);
    </script>
}