@(job: IAjob, nsForm: Form[NSjob])

@import helper._
@import helper.twitterBootstrap._
@implicitFieldConstructor = @{ FieldConstructor(extra.twitterBootstrapInput.f) }
@import play.libs.Scala._
@import play.Logger;
@main(title="Images processed!", nav="ia") {
	
	<div id="errorDiv"></div>
	
	<!--Buttons to download/repeat analysis or proceed to normalization-->
	<a class="btn" href="@routes.Assets.at(job.downloadZipPath)"><i class="icon-download"></i> Download results</a>
	<a class="btn" href="@routes.IAcontroller.initIAForm"><i class="icon-repeat"></i> Start over</a>
	
	@helper.form(action = routes.NScontroller.initPreloadedNSform(), 'id -> "toNSform", 'style->"display:inline") {
		@inputText(nsForm("jobid"))
	 	@inputText(nsForm("jsonSelectedForNS"))
		<a id="toNSsubmit" class="btn btn-primary"><i class="icon-bar-chart"></i> Normalize and score »</a>
	}
	
	<script>
		$(document).ready(function() {
			$('#jobid').attr('value','@job.jobid');
			$('#cg-jobid').hide();
			$('#cg-jsonSelectedForNS').hide();
		});
		$('#toNSsubmit').click(function(){
			if(selectedPlates.length > 0){
				$('#jsonSelectedForNS').attr('value', JSON.stringify(selectedPlates));
				$('#toNSform').submit();
			}else{
				//Throw error: 0 plates selected
				$('#errorDiv').html('<div class="alert alert-error" id="errorChild"><button type="button" class="close" data-dismiss="alert">×</button><strong>Error</strong> You must select at least one plate for normalization/scoring</div>');
				$('#errorDiv').children().delay(5000).fadeOut('slow', function(){ $(this).remove(); });
			}
			
		});
	</script>
	<br><br>
	
	<!--Job summary shown as a table-->
	
	<h3 style="margin-bottom:10px">Job summary</h3>
	<table class="table">
		<tr>
			<td style="width:200px">Elapsed time</td>
			<td>@job.timeElapsed</td>
		</tr>
		<tr>
			<td style="width:200px">Plate format</td>
			<td>@job.plateFormat</td>
		</tr>
		<tr>
			<td colspan="2">
			<table class="table-condensed" style="width:100%">
			<thead>
				<tr>
					<th>File name</th>
					<th>Status</th>
					<th>Screen type</th>
					<th>Query name</th>
					<th>Array plate id</th>
					<th>Normalize/Score</th>
				</tr>
			</thead>
			@for(passedFile <- job.passedFiles){
				<tr class="passedRow" image-name="@passedFile.plateImageName">
					<td style="width:300px"><i class="icon-picture stamp"></i> @passedFile.plateImageName</td>
					<td>Passed</td>
					<td id="screen-type"></td>
					<td id="query"></td>
					<td id="array-plate-id"></td>
					<td>
						<div class="plateData" id="@passedFile.plateImageName" data-path="@passedFile.outputDatName">
						<div class="btn-group" data-toggle="buttons-radio">
						<button onclick="selectPlateClicked(this)" id="@passedFile.plateImageName" name="includeicon" 
							type="button" class="btn btn-small btn-success active" value="1"><i class="icon-ok icon-white"></i></button>
						<button onclick="selectPlateClicked(this)" id="@passedFile.plateImageName" name="includeicon" 
							type="button" class="btn btn-small" value="0"><i class="icon-remove"></i></button>
						</div> 
					</td>
				</tr>
			}
			
			<script>
				$('.passedRow').each(function(i,v){
					var parsed = $(this).attr('image-name').parseSGAFileName();
					$(this).find("#screen-type").html(parsed[1]);
					$(this).find("#query").html(parsed[2]);
					$(this).find("#array-plate-id").html(parsed[3]);
				});
			
			</script>
			
			</table>
			
			</td>
		</tr>
	</table>
	
	
	<!--Masked images generated - displayed as thumbnails-->
	<h3 style="margin-bottom:10px">Output images</h3>
	
	<ul class="thumbnails">
	@for(passedFile <- job.passedFiles){
	 	
	 	<li class="span6">
	 	<div class="thumbnail">	
	 		
			<div class="plateImage">
				<img src="@routes.Assets.at(passedFile.outputMaskedPath)" style="height:300px">
			</div>
			<div class="caption">
				 <h4>@passedFile.plateImageName</h4>
          	
			</div>
		</div>
        </li>
	}
	</ul>
	
	<!-- Scripts for the page -->
	<!--Import slider css/js-->
	<script src="@routes.Assets.at("external/imageLens/jquery.zoom.js")"></script>
	<script src="@routes.Assets.at("javascripts/ia.js")"></script>
	<script>
		var selectedPlates;
		$(document).ready(function(){  
			// Hover zoom for images
			$('div.plateImage').zoom(); 
			selectedPlates = populateSelectedPlates();
		});
		
	
    </script>
}