@(elements: helper.FieldElements)
<div class="control-group @if(elements.hasErrors) {error}" id="cg-@elements.id">
	
	<label @if(elements.args.contains('helpModal)){onClick="labelHelpClicked('@elements.args.get('helpModal)')" data-toggle="modal" data-target="#helpModal"}
		class="control-label" for="@elements.id">
		
		
		@if(elements.args.contains('helpModal)){ <abbr title=""> }
		@elements.label
		@if(elements.args.contains('helpModal)){ </abbr> }
	</label>
	
	<div class="controls">
			<div class="fileupload fileupload-new" data-provides="fileupload">
				<div class="input-append">
					<div id="@elements.id-text" class="fileupload-preview uneditable-input" style="@if(elements.hasErrors){border: 1px solid #b94a48;} width:235px; color:#555555"></div>
					<span class="btn btn-file" style="@if(elements.hasErrors){border-top: 1px solid #b94a48;border-right: 1px solid #b94a48;border-bottom: 1px solid #b94a48;}">
						<span class="fileupload-new" >Select file</span>
						<span class="fileupload-exists">Change</span>
						@elements.input
						
					</span>
					
				</div>
				@if(elements.hasErrors) {
					<span class="help-block">@elements.errors.mkString(", ")</span>
				}
			</div>
			
			
			<!--<script type="text/javascript">$(".fileupload").fileupload(name="@elements.id")</script>-->
		
  	</div>
</div>
