ul#transit {
    list-style:none;
    width:400px;
    margin:0 auto;
    padding-top:0px;
    padding-bottom:80px;
    margin-left: 100px;
}

ul#transit li { /* List styling */
    float:left;
    position:relative;
    width:60px;
    height:60px;
    border:1px solid #fff;
    border-radius:50px;
    margin-left:10px;
    border-left:1px solid #8c8c8c; border-top:1px solid #8c8c8c; border-right:1px solid #8c8c8c; border-bottom:1px solid #8c8c8c; 
    background:#515151;
    
}

ul#transit li:first-child { margin-left:0; } /* First li element no margin */

.sphere { /* Styling sphere to set animation */
    background-color:#0088c1; 
    background-image: -moz-linear-gradient(90deg, #0088c1 25%, #00b4ff); 
    background-image: -webkit-linear-gradient(90deg, #0088c1 25%, #00b4ff); 

    width:60px;
    height:60px;
    border-radius:50px;
    -moz-transform:scale(0);
    -webkit-transform:scale(0);
    
    -moz-animation:loading 2.5s linear forwards infinite;
    -webkit-animation:loading 4.5s linear forwards infinite;
    
}


/* Main Layers */
#layer1 { -moz-animation-delay:0.3s; -webkit-animation-delay:0.3s; }
#layer2 { -moz-animation-delay:0.6s; -webkit-animation-delay:0.6s; }
#layer3 { -moz-animation-delay:0.9s; -webkit-animation-delay:0.9s; }
#layer4 { -moz-animation-delay:1.2s; -webkit-animation-delay:1.2s; }
#layer5 { -moz-animation-delay:1.5s; -webkit-animation-delay:1.5s; }

@-moz-keyframes loading {
    0%{-moz-transform:scale(0,0);}
    25%{-moz-transform:scale(1,1);}  
    50%{-moz-transform:scale(1,1);} 
    75%{-moz-transform:scale(0,0);} 
    100%{-moz-transform:scale(0,0);} 
}

@-webkit-keyframes loading {
    0%{-webkit-transform:scale(0,0);}
    25%{-webkit-transform:scale(1,1);}  
    50%{-webkit-transform:scale(1,1);} 
    75%{-webkit-transform:scale(0,0);} 
    100%{-webkit-transform:scale(0,0);}    
}

​