
@main(title="Contact", nav="cn") {

<style>
	.contact-thumbnail {
		float: left;
		border: 1px solid #666;
		border-radius: 4px;
		max-width: 80px;
		float: left;
		margin: 0px 8px 0px 0px;
		box-shadow: 0px 1px 3px #999;
	}
	blockquote {
		border-left: transparent;
	}
	
	p.position{
		color: #333;
		font-size: 12px;
		line-height: 20px;
	}
	
	p.quote {
		font-weight:350;
	}
	p{
		font-size: 16px;
	}
</style>
	

<center>	
<h3>Feedback is greatly appreciated. If you have any questions, comments or are experiencing issues with 
processing your data please email us at:</h3>

<br>
<strong>
<a style="font-size:30px" href="mailto:sgatools.info@@gmail.com">sgatools.info@@gmail.com</a>
</strong>
</center>
	<table class="span12 hide">
		<tr>
			<td>
				<div>
					<img class="thumbnail contact-thumbnail" src="@routes.Assets.at("images/people/wagih.jpeg")" alt="Omar Wagih">
		
					<blockquote>
						<p class="quote">Omar Wagih</p>
						<p class="position">Software Developer</p>
						<small><a href="mailto:omar.wagih{AT}utoronto.ca">omar.wagih@@utoronto.ca</a></small>
					</blockquote>
				</div>
			</td>
			<td>
				<div>
					<img class="thumbnail contact-thumbnail" src="@routes.Assets.at("images/people/parts.jpeg")" alt="Leopold Parts" style=" ">
					<blockquote>
						<p class="quote">Leopold Parts</p>
						<p class="position">Research Associate</p>
						<small><a href="mailto:leopold.parts{AT}gmail.com">leopold.parts@@gmail.com</a></small>
					</blockquote>
				</div>
			</td>
			<td>
				<div>
					<img class="thumbnail contact-thumbnail" src="@routes.Assets.at("images/people/costanzo.jpeg")" alt="Michael Costanzo" style=" ">
					<blockquote>
						<p class="quote">Michael Costanzo</p>
						<p class="position">Research Associate</p>
						<small><a href="mailto:michael.costanzo@@utoronto.ca">michael.costanzo@@utoronto.ca</a></small>
					</blockquote>
				</div>
			</td>
		</tr>
		<tr><td style="padding-top:20px"></td></tr>
		
		<tr class="hide">
			<td>
				<div>
					<img class="thumbnail contact-thumbnail" src="@routes.Assets.at("images/people/baryshnikova.jpeg")" alt="Anastasia Baryshnikova" style=" ">
					<blockquote>
						<p class="quote">Anastasia Baryshnikova</p>
						<p class="position">Graduate Student</p>
						<small><a href="mailto:a.baryshnikova@@utoronto.ca">a.baryshnikova@@utoronto.ca</a></small>
					</blockquote>
				</div>
			</td>
			<td>
				<div>
					<img class="thumbnail contact-thumbnail" src="@routes.Assets.at("images/people/usaj.jpeg")" alt="Matej Usaj" style=" ">
					<blockquote>
						<p class="quote">Matej Usaj</p>
						<p class="position">Genetic Network Team Technician</p>
						<small><a href="mailto:m.usaj@@utoronto.ca">m.usaj@@utoronto.ca</a></small>
					</blockquote>
				</div>
			</td>
			<td>
				<div>
					<img class="thumbnail contact-thumbnail" src="@routes.Assets.at("images/people/boone.jpeg")" alt="Charlie Boone" style=" ">
					<blockquote>
						<p class="quote">Charlie Boone</p>
						<p class="position">Principal Investigator</p>
						<small><a href="mailto:charlie.boone@@utoronto.ca">charlie.boone@@utoronto.ca</a></small>
						
					</blockquote>
				</div>
			</td>
		</tr>
	</table>
	

	
	
}