@(requested: String, errorcode: String)


@main(title="Error", nav="errorpage") {
	<center style="padding-top:70px">
		
		<h1 style="font-size:150px; line-height:200px">
		<i class="icon-exclamation-sign" style="color:#B94A48; font-size:150px"></i>@if(requested == ""){404}else{@errorcode}
		
		<h2 style="margin-top:-30px">@if(requested == ""){Not found}else{@requested}</h2>
		</h1>
		
		<hr> 
		
		<a onclick="history.go(-1)" class="btn btn-large">
			<i class="icon-arrow-left"></i> Return to previous page
		</a>
		<a href="/" onclick="#" class="btn btn-large">
			<i class="icon-home"></i> Go home
		</a>
	</center>
}