@(message: String, note: String)

<link href="@routes.Assets.at("stylesheets/loading.css")" rel="stylesheet">
<script>
 window.onload=function(){
         var dotspan = document.getElementById('dots');
         window.setInterval(function(){
            if(dotspan.textContent == '.....'){
               dotspan.textContent = '.';
            }
            else{
               dotspan.textContent += '.';
            }
         }, 1000);
      }
</script>
<center>
	
	
	<div class="loader-container" style="margin-left:180px; margin-top:90px">
	<ul id="transit" >
		<!-- sphere effect -->
	    <li><div id="layer1" class="sphere"></div> </li>
	    <li><div id="layer2" class="sphere"></div></li>
	    <li><div id="layer3" class="sphere"></div></li>
	    <li><div id="layer4" class="sphere"></div></li>
	    <li><div id="layer5" class="sphere"></div></li>
		
	</ul>​
	</div>
	
	<h3>@message <span id="dots">.</span> </h3><h4>@note</h4>
</center>
