@(iajob: IAjob, job: NSjob, daForm: Form[DAjob])

@import play.libs.Scala._
@import play.Logger;
@main(title="Data visualization", nav="da") {
	
	<script type="text/javascript" src="@routes.Assets.at("external/sgatools-analysis/d3.v2.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("external/sgatools-analysis/sgatools.heatmap.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("external/sgatools-analysis/sgatools.histogram.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("external/sgatools-analysis/crossfilter.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("external/sgatools-analysis/dc/dc_new.js")"></script>
	<link type="text/css" rel="stylesheet" href="@routes.Assets.at("external/sgatools-analysis/dc/dc_old.css")" />
	
	<script type="text/javascript" src="@routes.Assets.at("external/sgatools-analysis/color_picker/jquery.miniColors.js")"></script>
	<link type="text/css" rel="stylesheet" href="@routes.Assets.at("external/sgatools-analysis/color_picker/jquery.miniColors.css")" />
	
	<script type="text/javascript" src="@routes.Assets.at("javascripts/yeast.genemap.json")"></script>
	
	<style>
			.input-prepend .add-on{
				margin-right:-4px;
			}
			.span3c{
				width:200px;
			}
			
			.hm-popup-key{
				color:#949494;
				font-size: 14px;
			}
			.hm-popup-table tr td:first-child{
				color:#949494;
				text-align: right;
				font-size: 14px;
			}
			.hm-popup-table tr td:nth-child(2), .hm-popup-value{
				font-weight: bold;
				font-size: 16px;
				margin: 0px;
			}
			
			.dc-table-group{
				background-color: #D9EDF7;
			}
			
			div.left{
				border-right: 1px solid #189028;
			    border-top: 1px solid #189028;
			    border-left: 1px solid #189028;
			    padding-right: 4px;
			    padding-top: 2px;
			    padding-left: 4px;
			    background-color: #bbbbbb;
			    float: left;
			    -moz-transform: rotate(270deg);
			    -moz-rotation-point: 0 0;
			    -webkit-transform: rotate(270deg);
			    -webkit-rotation-point: 0 0;
			    -o-transform: rotate(270deg);
			    -ms-transform: rotate(270deg);
			    height: auto;
			    width: auto;
			}
			
			.dc-table-label{
				display:none;
			}
			
	</style>
	
	<h2>Data visualization</h2>
	<hr>
	
	<div id="mainPanel" style="margin-bottom:10px">
		<h4 style="display:inline">Viewing</h4> 
		<select id="viewType" class="input-medium" style="margin-top:10px">
			<option name="colonysize" domainHigh=3000 domainMed=1500 domainLow=0 selected>Raw colony sizes</option>
			<option name="ncolonysize" domainHigh=2 domainMed=1 domainLow=-1>Normalized colony sizes</option>
			@if(job.doScoring) {<option name="score" domainHigh=1 domainMed=0 domainLow=-1>Scored data</option> }
		</select>
		<h4 style="display:inline"> for plate file </h4> 
		<select id="dataCombobox" class="input-xlarge" style="margin-top:10px">
		@for((key,value) <- job.outputFilesMap){
			<option image-path="/assets/jobs/@job.jobid/ia/input_images/@key.substring(0,key.length-4)" 
					gridded-image-path="/assets/jobs/@job.jobid/ia/output_images/masked_@key.substring(0,key.length-4)" 
					data-path="@routes.Assets.at(value.replace(Constants.BASE_PUBLIC_DIR+"/", ""))">@key</option>
		}
			<option value="combined" image-path="NA" data-path="/assets/jobs/@job.jobid/ns/output_files/combined_data.dat">
				Combined data</option>
		</select>
		
		<div style="display:inline">
			@if(iajob != null){ <a class="btn" href="@routes.Assets.at(iajob.downloadZipPath)"><i class="icon-download"></i> Image analysis results</a> }
			<a class="btn" href="@routes.Assets.at(job.downloadZipPath)"><i class="icon-download"></i> Normalized/scored results</a>
		</div>
	
	</div>
	<div class="well" id="heatmapControls">
		
		
		<!--<hr style="margin-top: 5px; margin-bottom: 15px;">-->
		<div class="container">
		<div class="row" style="margin-left:-18px">
			<div class="input-prepend span3c">
			  <span class="add-on">Min</span>
			  <input class="span1 domainInput" id="domainLowInput" type="text" style="text-align:center;" placeholder="">
			  <input type="text" id="colorLow" class="input-mini color-picker miniColors" size="7" autocomplete="off" value="#FF0000" maxlength="7">
			</div>
            
             <div class="input-prepend span3c">
			  <span class="add-on">Med</span>
			  <input class="span1 domainInput" id="domainMedInput" type="text" style="text-align:center;" placeholder="">
			  <input type="text" id="colorMed" class="input-mini color-picker miniColors" size="7" autocomplete="off" value="#000000" maxlength="7">
			</div>
			
			<div class="input-prepend span3c">
			  <span class="add-on">Max</span>
			  <input class="span1 domainInput" id="domainHighInput" type="text" style="text-align:center;" placeholder="">
			  <input type="text" id="colorHigh" class="input-mini color-picker miniColors" size="7" autocomplete="off" value="#008000" maxlength="7">
			</div>
			
			<button class="btn" onclick="$('#colorLow').val('#FF0000');$('#colorMed').val('#000000');$('#colorHigh').val('#008000');firstCallHm = [];firstCallHs = []; $('#dataCombobox').trigger('change');">
			Reset values to default</button>
		</div>	
		
		<div class="row">
			<div class="span2 @if(iajob == null){hide}">
				<label for="griddedImage" class="">Gridded image</label>
				<div class="toggle-button">
					 <input id="griddedImage" type="checkbox" value="value1">
				</div>
			</div>
			
			
			<div class="span2 @if(iajob == null){hide}" >
				<label for="hideImage" class="">Hide plate image</label>
				<div class="toggle-button">
					 <input id="hideImage" type="checkbox" value="value1">
				</div>
				@if(iajob == null){
				<script>
					$(document).ready(function() {
					//	$('#hideImage').change();
						$('#plateImage').hide();
						maxHeatmapWidth = 920;
					});
				</script>
				}
			</div>
			
			
			@helper.form( action = routes.DAcontroller.submit(), 'target->"_blank", 'id -> "export-graphics-form", 'enctype -> "multipart/form-data") {
			
			<div class="span6">
				<label for="downHM" class="">Export graphics</label>
				<div class="row">
					<div class="span2">
						<select class="span2" name="saveType" id="saveType">
							<option value="SVG">SVG</option>
							<!--<option value="PDF" >PDF</option>-->
							<option value="PNG">PNG</option>
						</select>
					</div>
					<div class="span2" style="margin-left:10px">
						<input id="exportHmap" class="btn" type="submit" value="Download heatmap">
						<input name="inputHmap" id="inputHmap" class="btn" type="hidden">
					</div>
					<div class="span2" style="margin-left:6px">
						<input id="exportHist" class="btn hide" type="button" value="Download histogram">
						<input name="inputHist" id="inputHist" class="btn" type="hidden">
					</div>
				</div>
			</div>
			
			}
			
			<script>
				$(window).load(function () {
				  firstCallHm=[];
				  firstCallHs=[];
				});
			
				function popitup(url) {
					newwindow=window.open(url,'name','height=300,width=500');
					if (window.focus) {newwindow.focus()}
					return false;
				}
				
				$('#exportHmap').click(function(){
					$('.heatmapSVG').attr('xmlns', 'http://www.w3.org/2000/svg');
					svg_text = $('<div>').append($('.heatmapSVG').clone()).html();
					$('#inputHmap').val(svg_text);
					$('#export-graphics-form').submit();
				});
			</script>			
			
			<script>
				$('#griddedImage').change(function(){
					var plate = $('#dataCombobox option:selected');
					if($('#griddedImage').is(':checked')){
						$('#plateImage').attr('src', plate.attr('gridded-image-path'));
					}else{
						$('#plateImage').attr('src', plate.attr('image-path'));
					}
					
				});
				
				$('#hideImage').change(function(){
					if($('#hideImage').is(':checked')){
						$('#plateImage').hide();
						maxHeatmapWidth = 920;
					}else{
						$('#plateImage').show();
						maxHeatmapWidth = 460;
					}
					$('#dataCombobox').trigger('change');
				});
			</script>
			
			
			
		</div>
		</div>
			
		
	</div><!-- End well -->
	
			
			<div class="conatiner">
			
			<!--Heatmap & Image-->
			<center>
			<div class="row" id="heatmapRow">
				<div id="plateImageContents" class="span6" ><img id="plateImage"></div>
				<div id="heatmapContents" class="span6" ></div>
			</div>
			
			<hr><!--Separator-->
			
			
			
						
			<style>
				#data-table tbody{
					height:150px;
  					overflow:auto;
				}
			</style>
			<!--Histogram-->
			
			<div class="row span12">
				<div id="bar-chart">
					<span class="pull-right">Show 
			    			<select id="showRecords" style="height:20px; width:55px; margin-top:5px;">
			    				<option value="10">10</option>
			    				<option value="20">20</option>
			    				<option value="50">50</option>
			    				<option value="100">100</option>
			    				<option value="10000">All</option>
			    			</select> records 
			    	</span>
			    	
			    	<div id="data-count">
			    		<span class="filter-count"></span> selected out of <span class="total-count"></span> | 
			    		<a class="reset" href="javascript:histogramChart.filterAll();dc.redrawAll();">Reset all</a>
			    	</div>
			    	
			    	<center><h4 id="histTitle">Raw colony size vs. frequency</h4></center>
			    	<br>
			    	<div style="display:block" class="pull-left">
			    	
				@if(job.doArrayDef){
					<button id="gprofilerBtn" class="btn">
					Functional enrichment for selected genes <i class="icon-external-link"></i>
					</button>
				}else{
					<button id="noFuncEnr" class="btn disabled pull-left">
					Functional enrichment for selected genes <i class="icon-external-link"></i>
					</button>
					<br><br>
					<p class="muted">To enable functional enrichment, ensure a plate layout was chosen at the normalization & scoring step</p>
					
				}
			    	</div>
		    		<div style="display:inline" id="bar-chart-contents">
		    		
		    		</div>
			    </div>
			    
			    
			
				<div class="pull-right">
			    
			    </div>
			    
				<table id="data-table" class="table table-hover" style="margin-bottom:100px">
				    
				    <thead>
				        <tr class="header">
				            <th>Row</th>
				            <th>Column</th>
				            <th>Query</th>
				            <th>Array</th>
				            <th>Value</th>
				        </tr>
			        </thead>
			    </table>  
			</div>
			
			
			</div>
			
	<script type="text/javascript">
		window.test = null;
		$(document).ready(function() {
			d3.text('/assets/jobs/@job.jobid/ns/output_files/combined_data.dat', 'text/tsv',function(tsv){
    			tsv = tsv.replace(/^[#@@][^\r\n]+[\r\n]+/mg, '');
    			tsv = "row	col	colonysize	plateid	query	array	ncolonysize	score	kvp\n" + tsv;
    			combinedData = d3.tsv.parse(tsv);
    			test = combinedData;
    			window.globalArrays = [];
				jQuery.each(combinedData, function(i,v){
					globalArrays.push(v.array.split('_')[0]);
				});
				globalArrays = jQuery.unique(globalArrays);
			});
		
		});
	
		$('#gprofilerBtn').click(function(){
			
			//Get query based on selected window in histogram
			var selectedEntries = histogramChart.dimension().top(Infinity);
			querySet = [];
			for(i = 0; i<selectedEntries.length; i++){
				querySet.push(selectedEntries[i].arrayStandard);
			}
			querySet = jQuery.unique(querySet);
			
			if(querySet.length == 0){
				alert('Please select at least one gene in the histogram');
				return;
			}
			
			bgSet = jQuery.unique(globalArrays).join(' ');
			
			params = {'organism':'scerevisiae', 
					  'query': querySet.join(' '),
					  'custbg': bgSet,
					  'custbg_cb':'on',
					  'advanced_options_on': '0'
			}
			uri = 'http://biit.cs.ut.ee/gprofiler/index.cgi?' + jQuery.param(params); 
			window.open(uri);
			console.log(uri);
		});
			
			var maxHeatmapWidth = 460;
			
			$('.domainInput').change(function(){
				$('#dataCombobox').trigger('change');
			});
			
			
			function updateViewTypeValues() {
				var viewtype = $('#viewType option:selected');
				$('#domainLowInput').val(viewtype.attr('domainLow'));
				$('#domainMedInput').val(viewtype.attr('domainMed'));
				$('#domainHighInput').val(viewtype.attr('domainHigh'));
			}
			
			$('#viewType').change(function(){
				updateViewTypeValues();
				
				$('#dataCombobox').trigger('change');
			});
			
			$('#showRecords').change(function(){
				$('#dataCombobox').trigger('change');
			});
			
			$(".color-picker").miniColors({
			    change: function(hex, rgb) { 
					$('#dataCombobox').trigger('change');
			    }
			});
			
			$(document).ready(function() {
				//$('#viewType').trigger('change');
				updateViewTypeValues();
				$('#dataCombobox').trigger('change');
			});
			
		    $('#dataCombobox').change(function() {
		    	var viewtype = $('#viewType option:selected');
		    	var plate = $('#dataCombobox option:selected');
		    	var nrows = +$('#showRecords option:selected').val()
		    	
		    	if(plate.val() == 'combined'){
		    		$('#heatmapRow').hide();
		    		$('#heatmapControls').hide();
		    		window.isCombined = true;
		    	}else{
		    		$('#heatmapRow').show();
		    		$('#heatmapControls').show();
		    		window.isCombined = false;
		    	}
		    	
				//Histogram of <data type> for <plate name or "all plates">
				$('#histTitle').text('Histogram of ' + viewtype.text().toLowerCase() + ' for ' + plate.text())
		    	
		    	//If user selects control screen
		    	scoreOpt = $('#viewType option[name="score"]');
		    	if(/Control/i.test(plate.text().parseSGAFileName()[1])){
		    		scoreOpt.attr('disabled', true);
		    		if(viewtype.attr('name') == "score"){
		    			alert('No scores available for control screens');
		    			viewtype.removeAttr('selected');
		    			newViewtype = $('#viewType option[name="colonysize"]');
		    			newViewtype.attr('selected', 'selected');
		    			viewtype = newViewtype;
		    			updateViewTypeValues();
		    		}
		    	}else{
		    		scoreOpt.attr('disabled', false);
		    	}
		    	
		    	$('option.hide').attr('disabled', true);
		    	
				drawHeatmap({
					heatmapContainer : '#heatmapContents',
					dataPath : plate.attr('data-path'),
					gridSize : 10,
					maxwidth: maxHeatmapWidth,
					domainLow: +$('#domainLowInput').val(),
					domainMed: +$('#domainMedInput').val(), 
					domainHigh: +$('#domainHighInput').val(),
					columnToUse: viewtype.attr('name'),
					colorLow: $('#colorLow').val(),
					colorMed: $('#colorMed').val(), 
					colorHigh: $('#colorHigh').val()
				});
				
				var barChart = drawBarChart({
					'dataName' : plate.attr('data-path'),
					'divChart' : "#bar-chart-contents", 
					'divDataTable' : "#data-table", 
					'divDataCount' : "#data-count",
					'maxDataRows' : nrows, 
					'chartWidth' : 946, 
					'chartHeight' : 200,
					columnToUse: viewtype.attr('name'),
					domainLow: +$('#domainLowInput').val(),
					domainHigh: +$('#domainHighInput').val()
				});		
				
				$('#plateImage')
					.attr('src', plate.attr('image-path'))
					.css({ height: $('.heatmapSVG').height() - 20,
							width: $('.heatmapSVG').width() - 20});
				
				$('#griddedImage').trigger('change');
				
				$('#plateImage').error(function() {
				  $('#plateImage').attr('src', "@routes.Assets.at("images/noimage_plate_small.jpeg")");
				});
			});
			
	</script>
	
	
}