
@main("About", nav="ab") {
	<style>
		p{
			font-size: 16px;
		}
	</style>
   <h2>About</h2>
   <hr>
    <p>
    Screening for combinations of mutations that have an unexpected effect on phenotype is 
    a powerful approach that has revealed much about the genetic landscape of cells. 
    These high throughput experiments quantify colony size as a measure of fitness, and produce raw data in form of plate images,
    which require processing and statistical analyses to obtain biological insights. 
    While large international consortia have dedicated teams for this purpose, single wetlabs currently do not have 
    a user-friendly solution for dealing with such data.
   </p>
   <p>
   SGAtools offers a single stop solution for analysing data from genetic screens. 
   There are three steps to the analysis pipeline, each of which can also be run separately from the rest. 
   First, images of plates with colonies are processed to give quantified colony sizes for the screen. 
   Next, the colony sizes are normalised and filtered within plates, taking into account position effects and other confounding factors. 
   In a case-control scenario, scores are calculated to assess the deviation of the observed data from expected. 
   Finally, the data can be visualised online to give intuition about the summary statistics, genes responsible for the strongest signal. 
   Further analysis functions, such as GO term enrichment and network visualisation, are available via external links.</p>

<p>SGAtools was developed at the Charlie Boone laboratory - Donnelly Centre, University of Toronto</p>
<p><strong>Authors:</strong> 
Omar Wagih, Matej Usaj, Anastasia Baryshnikova, Benjamin VanderSluis, Elena Kuzmin, Michael Costanzo, Chad L. Myers, Brenda Andrews, Charles Boone, and Leopold Parts


</p>
<p>We thank the Rothstein lab for providing test images, and members of the Boone and Andrews labs for testing</p>
<hr>
<center>
<img alt="Boonelab logo" src="@routes.Assets.at("images/boonelab-logo.png")" style="height:70px">
<img alt="UofT logo" src="@routes.Assets.at("images/uoft-logo.png")" style="height:70px">
</center>
<!--<img alt="Donelly logo" src="@routes.Assets.at("images/donelly-logo.png")" style="height:70px">-->
<!--
<strong>Please cite SGAtools as: </strong><br>
<p>Wagih, O., Parts, L., ... , Boone, C. (2012) SGAtools: Tools for image processing, normalizing and scoring Synthetic Genetic Array screens</p>
  -->  
}