
@main("Help", nav="hp") {
    
    <link href="@routes.Assets.at("stylesheets/docs.css")" rel="stylesheet">
    
    <h2>Help / Documentation</h2>
    <hr>
    
    <div class="tabbable tabs-right">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#fq" data-toggle="tab"><i class="icon-question-sign"></i> FAQs</a></li>
        <li><a href="#gs" data-toggle="tab"><i class="icon-bookmark"></i> Getting started</a></li>
        <li><a href="#fn" data-toggle="tab"><i class="icon-bookmark"></i> File naming</a></li>
        <li><a href="#ia" data-toggle="tab"><i class="icon-bookmark"></i> Image analysis</a></li>
        <li><a href="#ns" data-toggle="tab" id="nsTab"><i class="icon-bookmark"></i> Normalization & Scoring</a></li>
        <li><a href="#da" data-toggle="tab"><i class="icon-bookmark"></i> Data analysis</a></li>
        <!--<li><a href="#fa" data-toggle="tab"><i class="icon-bookmark"></i> FAQs</a></li>-->
      </ul>
	
      <div class="tab-content">
        <div class="tab-pane active" id="fq">
        
        <h2>Image analysis</h2>
        <div class="accordion" id="faqCollapse">
        	@collapseTab("ia1", "faqCollapse", "What should the image filenames look like?", 
        		"Image file names should have the following format: <code>{username}_{screentype}_{query}_{arrayplateid}...</code>. </li>"+
        		 "<ul><li><code>username</code> is the name of the person who carried out the experiment," +
        		 "<li><code>screentype</code> is the type of screen carried, where <code>wt</code> or <code>ctrl</code> denotes a control screen, and any other value represents a case screen.</li>"+
        		 "<li><code>query</code> is the name of the query used in the experiment</li>"+
        		 "<li><code>arrayplateid</code>a value indicating the array plate id, used to map the file to its plate layout file. In a typical SGA yeast screen, this value ranges from 1-14</li></ul>"+
        		 "<strong>Note:</strong> it is not required that your file names follow this format. However, in order to map the query/array coordinates to their ORF name and group control/case experiments by array plate id for scoring, proper file naming must be used.")
        	@collapseTab("ia2", "faqCollapse", "How do I select multiple files from different directories?", "This is currently not possible. Images must be selected from one directory")
        	@collapseTab("ia3", "faqCollapse", "Segmentation failed, or the segmented images look weird. What should I do?", "Image analysis requires that your plate to have defined plate edges. Plates must also have at least one colony in each row and column for proper segmentation. If both these requirements are met, and segmented images still look weird, please contact the developers with your image."+
        		"<br><br>Below are some examples which would fail segmentation<br>"+
        		"<ul class='thumbnails'><li class='span4'><div class='thumbnail'><img src='assets/images/help/missing_edges.jpg'> <h5>No defined plate edges</h5> </div></li>"+
        		"<li class='span4'><div class='thumbnail'><img src='assets/images/help/missing_rows.jpg'> <h5>Missing rows/columns</h5> </div></li> </ul>")
        	@collapseTab("ia4", "faqCollapse", "Can I use SGAtools with spotted colonies?", "SGAtools was developed primarily for pinned colonies. Depending on your plate, it might work. However, we recommend analyzing your spotted colony images with a separate image analysis software and normalizing/scoring with SGAtools ")
        	@collapseTab("ia5", "faqCollapse", "Image analysis takes a long time. Is everything ok?", "Yes. Images must first be uploaded to the web server, which can take some time depending on the size of your images. Image analysis will also take some time processing each image.")
        </div>
        
        <h2>Normalization & scoring</h2>
        <div class="accordion" id="faqCollapse2">
        	@collapseTab("ns1", "faqCollapse2", "What should the plate filenames look like?", "File names should have the same format as images")
        	@collapseTab("ns2", "faqCollapse2", "What does the output mean?", "To see the details of what each column means, see the <a href='#' onclick=\"$('#nsTab').click()\">normalization & scoring</a> tab in the help section or see the <code>README</code> file provided in the output.")
        	@collapseTab("ns3", "faqCollapse2", "The output file has numbers instead of gene names. Where are the gene names?", "Proper file naming is required to provide the query name and the array plate id which is used to map the plate to a plate layout. If proper file naming was not used, the query column will have a value of 1 and the array column will contain numbers, such that each number represents a group of replicates.<br>"+
        		"If proper file naming was used, then an appropriate array layout was not selected.")
        	@collapseTab("ns4", "faqCollapse2", "How do I tell SGAtools what strains are on my plates?", "This is done using plate layouts. Plate layouts map the coordinates of your plate to a name. For your convenience, pre-defined array layout files are provided. However, you can upload your own. For details on how to format array layout files, see the <a href='#' onclick=\"$('#nsTab').click()\">normalization & scoring</a> tab")
        	@collapseTab("ns5", "faqCollapse2", "I want to score my plates, but the option is disabled. Why?", "Plates can only be scored if proper file naming is used. Without proper file naming, SGAtools cannot match up control and case plates using array plate ids.")
        	@collapseTab("ns6", "faqCollapse2", "What linkage cutoff should I use?", "200KB is the recommended cutoff")
        	@collapseTab("ns7", "faqCollapse2", "How do I interpret the scores? What does the p-value mean?", "TODO")
        </div>
        
        <h2>Data analysis</h2>
        <div class="accordion" id="faqCollapse3">
        	@collapseTab("da1", "faqCollapse3", "I want to analyze previously saved data. How do I do it?", "TODO")
        	@collapseTab("da2", "faqCollapse3", "I want to analyze my selected genes for GO enrichment, but it's disabled. Why?", 
        		"This is because plate coordinates were not mapped to a gene name. This could be because of incorrect file naming or not selecting an appropriate plate layout file")
        </div>
        
        <h2>General</h2>
        <div class="accordion" id="faqCollapse4">
        	@collapseTab("ge1", "faqCollapse4", "How do I share my results with a colleague or collaborator?", "Simply share the link in your address bar after each step of analysis. For example, after image analysis, you would share a link which looks something like<br>"+
        		"<code>http://www.sgatools.ccbr.utoronto.ca/imageanalysis/48f3b5f6-5f0e-494f-b528-e48ca57d06ae</code><br><br>"+
        		"<strong>Note:</strong> data is only saved on our server for 30 days. After that time period, results will no longer be available")
        	@collapseTab("ge2", "faqCollapse4", "I get a message saying I should use a newer browser. Why is that?", "SGAtools uses new technology to do some data pre-processing and validation prior to ensure correct data formats prior to uploading files to the web server. <br>"+
        		"Such technology is provided through the latest browsers. We have tested SGAtools on the latest versions of <a href='http://www.google.com/chrome/' target='_blank'>Chrome</a> and <a href='http://www.mozilla.org/en-US/firefox/new/' target='_blank'>Firefox</a> extensively. Please ensure your browser is updated before using SGAtools")
        	@collapseTab("ge3", "faqCollapse4", "I want to use the normalization in R offline. How do I do that and what are the requirements?", "SGAtools normalization and scoring was developed in R. You can download R from <a href='http://www.r-project.org/' target='blank_'>here</a>. The SGAtools code can be found in <a href='https://github.com/boonelab/sgatools/tree/master/public/SGAtools/SGAtools.R' target='blank_'><code>SGAtools.R</code></a> and has sufficient commenting to get you started. ")
        	@collapseTab("ge4", "faqCollapse4", "How does SGAtools compare with other similar programs?", "TODO")
        </div>
        
        </div>
       <div class="tab-pane" id="gs">
	       	<div class="page-header">
	        	<h2>Getting started</h2>
	        </div>
			
			<p>
				There are three main parts to the SGAtools pipeline. Image analysis, Normalization & scoring, and Data analysis & visualization. There are two possible start points in the pipeline shown as <b>A</b>, starting out with plate images and <b>B</b>, starting out with quantified colony sizes generated by an alternate image analysis software. It is highly recommended that input files at either start point are named using a certain convention in order to maximize functionality
			</p>
			
			<p>
			The tabs on the right contain further details on each of the steps of the SGAtools pipeline.
			</p>
			<div class="thumbnail">
				<img style="height:500px" src="@routes.Assets.at("images/help/sgatools_workflow.png")" alt="SGAtools workflow"/>
			</div>
        </div>
        
        <div class="tab-pane" id="fn">
	        <div class="page-header">
	        	<h2>File naming</h2>
	        </div>
	        
	        <div id="file-naming-help">
	        	<p>
	        	In order to properly score your data and utilize array layout files, additional information must be supplied 
	        	via the file name of the image or dat file you are using.
	        	This information includes:
	        	</p>
	        	
	        	<ul>
	        		<li>Screen type ― control vs case</li>
	        		<li>Query name / ORF</li>
	        		<li>Array plate id </li>
	        	</ul>
	        	
	        	<p>This information is supplemented through the file name in the following format:</p>
	        	
	        	
	        	<pre>{username}_{screentype}_{query}_{arrayplateid} …</pre>
	        	
	        	<p>such that the screen type name is prefixed by <code>wt</code> or <code>ctrl</code> to indicate a control plate. 
	        	Anything else will define the plate as a case</p>
	        	
	        	<hr>
	        	
	        	
	        	<div class="bs-docs-example">
	        		<pre>michael_double-mutant_YDL108W_1_boone_15-12-12.jpg</pre>
		        	<p>Indicates a <code>case</code> screen carried out by <code>michael</code> 
		        		with the screen having the query <code>YDL108W</code> and an array plate id of <code>1</code>
		        	</p>
	        	</div>
			        
			    <div class="bs-docs-example">
			    	<pre>charlie_ctrl_-YOR341W_9_sga_3-10-11.jpg</pre>
	        		<p>Indicates a <code>control</code> screen carried out by <code>charlie</code> 
	        			with the screen having the query <code>YOR341W</code> and an array plate id of <code>9</code>
	        		</p>
			    </div>	
			        	
		        		
	        	<hr>
	        	<strong>Note:</strong> It is not mandatory to name the files in the mentioned format. Files named with a format other than the one mentioned above will not me mapped a query/array ORF and will not be scored
	        	
	        </div>
        </div>
        
        
       <div class="tab-pane" id="ia">
        	<div class="page-header">
	        	<h2>Image analysis</h2>
	        </div>
	        
	        <p>
	        Image analysis is the first step of the SGAtools pipeline and involves fitting a grid onto your plate images, then using the bounds of the grid to quantify the colony size using pixel intensities
	        </p>
	        
	        <h3 style="text-decoration:underline">Input</h3>
	        
	        
        	<dl>
        	  <div id="ia-plate-files">
			  <dt><h4>1. Plate images</h4></dt>
			  <dd>
		    		<p>Images of your screen in <code>.jpg</code> format. Images are expected to be an approximate resolution of 160 dots per cm and 
		        	should either be cropped to the size of the experimental plate or have a black background outside of the plate. 
		        	Note: the higher resolution the image is, the more accurate the quantified colony size is.</p>
			  </dd>
			  </div>	
			  <!--End plate files-->
			  <hr>
			  
			  <div id="ia-plate-format">
			  <dt><h4>2. Plate format</h4></dt>
			  <dd>
			  
			   
	        	<p>SGAtools supports 4 core screen formats</p>
	        	
	        	<table class="table">
	        		<thead>
	        		<tr>
				      <th>Screen format</th>
				      <th>Number of rows</th>
				      <th>Number of columns</th>
				      <th>Example</th>
				    </tr>
				    </thead>
				    <tbody>
					    <tr>
					      <td>1536</td>
					      <td>32</td>
					      <td>48</td>
					      <td><img style="width:200px;height:130px" src="@routes.Assets.at("images/help/1536_example.jpg")"></td>
					    </tr>
					    
					     <tr>
					      <td>768 -diagonal replicates</td>
					      <td>16</td>
					      <td>24</td>
					      <td><img style="width:200px;height:130px" src="@routes.Assets.at("images/help/768_example.jpg")"></td>
					    </tr>
					    
					    <tr>
					      <td>384</td>
					      <td>16</td>
					      <td>24</td>
					      <td><img style="width:200px;height:130px" src="@routes.Assets.at("images/help/384_example.jpg")"></td>
					    </tr>
					    
					    <tr>
					      <td>96</td>
					      <td>8</td>
					      <td>12</td>
					      <td><img style="width:200px;height:130px" src="@routes.Assets.at("images/help/96_example.jpg")"></td>
					    </tr>
					</tbody>
	        	</table>
	         
			  </dd>
			  </div>

			  <!--End plate format-->
			
			  <div id="ia-crop-option">
				<dt><h4>3. Crop option</h4></dt>
				<dd>
					<ul>
						<li><b>Automatically choose method (recommended):</b> 
						The program will automatically choose between the other options.</li>
						
						<li><b>Always autodetect plate edges:</b> 
						The program will locate the edges of the plate by finding the edge of the black background surrounding the plate.
						</li>
						
						<li><b>Images are already cropped to plate edges:</b> 
						The program will assume that the images have already been cropped to the edges of the agar plate.
						</li>
					</ul>
					
				</dd>
			</div>
			
			</dl><!--End input image analsysis-->
	        
        	
	        <br>
	        <h3 style="text-decoration:underline">Output</h3>
	        
	        
	         <div id="ia-output">
	        	<p>After your images have been processed, you will be directed to a page containing a summary of the analysis.
	        	This page allows you to:</p>
	        	
	        	<dl>
				  <dt>Download the quantified colony sizes</dt>
				  <dd>
					  The resulting files will be space-delimited and will have the following columns
	        			
	        			<ol>
	        				<li>Row</li>
	        				<li>Column</li>
	        				<li>Quantified colony size</li>
	        				<li>Circularity</li>
	        				<li>Median</li>
	        			</ol>
	        			
	        			<div class="bs-docs-example">
			        		<pre><comment style="color:#990000"># This is a comment line and is ignored	
# row	column	size-1	circ-1	MedInt-1</comment>
1 1 277 0.925 228
1 2 171	0.944 229
1 3 127 0.929 234
1 4 156 0.959 238
...
			        		</pre>
			        	</div>
	        			

				  </dd>
				  
				  <hr>
				  <!--Done download output-->
				  
				  
				   <dt>Review the gridding applied to your images</dt>
				  <dd>
				  	The gridded image will be displayed. 
				  	Hover over the output image for a zoom in on specific colonies to ensure correct gridding
		        	<div id="ia-grdding" style="margin-top:10px">
			        	<img style="width:300px;height:200px;display:inline" src="@routes.Assets.at("images/help/1536_example.jpg")"> 
			        	<i class="icon-circle-arrow-right muted" style="font-size:30px;display:inline"></i> 
			        	<img style="width:300px;height:200px;display:inline" src="@routes.Assets.at("images/help/masked_1536_example.jpg")"> 
		        	</div>
				  </dd>
				  
				  <hr>
				  <!--Done gridding output-->
				  
				  <dt>Proceed to normalization & scoring</dt>
				  <dd>
				  	To proceed to normalization, select the desired plates you would like normalized and/or scored and click normalize and score. 
				  		This will direct you to the normalization & scoring page with your analyzed image data preloaded
				  
				  </dd>
				  
				  <!--Done proceed to next step output-->
				  
				</dl>    	
	        	<!--Done output-->
	        </div>
	        
        </div>
        
        <div class="tab-pane" id="ns">
        	<div class="page-header">
	        	<h2>Normalization & Scoring</h2>
	        </div>
	        <h3 style="text-decoration:underline">Input</h3>
	        
	        
	        <dl>
	        	<div id="ns-plate-files">
				<dt><h4>1. Plate files</h4></dt>
				<dd>
					<p>The main input to normalization & scoring is the quantified colony sizes in a 
					space-delimited file with 3 or more columns as follows:</p>
					<ol>
						<li>Row</li>
						<li>Column</li>
						<li>Quantified colony size</li>
					</ol>
				
					<div class="bs-docs-example">
					<pre><comment style="color:#990000"># This is a commented line and is ignored
# rows	columns	size	circularity: </comment>
1	1	2205	0.981750  
1	2	1734	1.065585  
1	3	1996	1.057621  
1	4	1704	1.032656  
1	5	1755	1.109302  
...
					</pre>
					</div>

									
					<b>Note:</b> In the example above, the circularity column and any column that follows it are ignored
				
				</dd>
				</div>
	        	<!--End plate files -->
	        	<hr>
	        	<div id="ns-array-layout-file">
				  <dt><h4>2. Plate layout file</h4></dt>
				  <dd>
				  	<p>This file allows a mapping from row and columns to a gene name. If an array layout file is not selected the array column in results will contain numbers, such that each number represents a group of replicates. <br>
				  	
				  	There are two ways of selecting an array layout file:</p>
				  	
				  	<dl>
				  		<dt>Selecting a predefined array layout file</dt>
				  		<dd>From the drop down, you can select predefined array layout files. 
					  		These files are mapped to corresponding files depending on their array plate id 
					  		supplemented via the file name
	        			</dd>
	        			
	        			<dt>Uploading a custom array layout file</dt>
				  		<dd>From the drop down, you can upload your own array layout file which is mapped to <b>all</b> data files.
				  			The typical array definition file is space-delimited and has 3 columns as follows:
	        	
				        	<ol>
			    				<li>Column</li>
			    				<li>Row</li>
			    				<li>Gene name</li>
			    			</ol>
			    			
			    			A name is assigned to each replicate group. Below an example shows the head section of an array layout file along with a graphical representation.
			    			<div class="bs-docs-example">
			    			<pre><comment style="color:#990000"># This is a comment line and is ignored		    			
# c	r	Gene</comment>
1	1	HIS3
1	2	HIS3
1	3	HIS3
2	1	HIS3
2	2	RKM3
2	3	YPK3
3	1	HIS3
3	2	TPS1
3	3	GAL1
...
    						</pre>
    						<img class="thumbnail" style="width:100%" src="@routes.Assets.at("images/help/array_layout_example.jpg")"/>
			    			</div>
    			
	        			</dd>
	        			
				  	</dl>
	        	
				   	
				  </dd>
				</div>
				<!--End array layout file-->
			  <hr>
			  
			  <div id="ns-replicates">
	          	<dt><h4>3. Replicates</h4></dt>
	        	<dd>
		        	This is the number of replicates in the experiment. 
		        	<br>A value of <code>4</code> indicates replicas are in quadruples
		        	<br>A value of <code>1</code> indicates there is only one replicate
	        	</dd>
	          </div>
			  
			  <!--End replicates-->
			  <hr>
			  
	          <div id="ns-linkage-correction">
	        	<dt><h4>4. Linkage correction</h4></dt>
	        	<dd>
	        		This step ignores interactions between genes within a specific proximity to one another on the same
		        	chromosome from the analysis as it is 	considered an artifact.
		        	The proximity is provided in kilobases (KB) as the <b>linkage cutoff</b>  
		        </dd>
	          </div>
			  
			  <!--End linkage correction-->
			  <hr>
			  
			  <div id="ns-scoring">
	        	<dt><h4>5. Score results</h4></dt>
	        	<dd>
	        	If this option is selected, a score will be computed for non-control plates with a corresponding control plate of the same array plate id.
	        	There are two ways SGAtools can score screens:
	        	
	        	  
	        	<ol>
    				<li><img src="http://latex.codecogs.com/svg.latex?\small%20\inline%20\dpi{300}%20C_{ij}%20-%20C_{i}C_{j}"></li>
    				<li><img src="http://latex.codecogs.com/svg.latex?\small%20\inline%20\dpi{300}%20C_{ij}%20/%20C_{i}C_{j}"></li>
    			</ol>
    			
    			Such that Cij represents the fitness of the double mutant, Ci the single mutant fitness of the query, Cj the single mutant fitness of the array
    			</dd>
    		  </div>
			  
			</dl>
			<!--END INPUT-->
	       
	        <br>
	        <h3 style="text-decoration:underline">Output</h3>
	        
	        <div id="ns-output">
	        	<p>After your data has been normalized and/or scored, you will be directed to a page containing a summary of the analysis. 
	        	You will be able to:</p>

	        
	        	<dl>
	        		<dt>Download your processed data files</dt>
	        		<dd>These files will be tab-delimited with 9 columns as follows:
		        		<ol>
		    				<li>Row</li>
		    				<li>Column</li>
		    				<li>Raw colony size</li>
		    				<li>Plate id - set as file name</li>
		    				<li>Query gene name/ORF</li>
		    				<li>Array gene name/ORF</li>
		    				<li>Normalized colony size</li>
		    				<li>Score</li>
		    				<li>Additional information as key-value pairs</li>
		    			</ol>
	        		
	        		<div class="bs-docs-example">
		    		<pre><comment style="color:#990000"># This is a comment line and is ignored
# row	col	size	plateid	query	array	norm	score		kvp</comment>
3	6	196	file-name	Y8835	YBR138C	523.39	-0.008	NA
3	7	173	file-name	Y8835	YBR028C	448.31	-0.0975	NA
3	8	205	file-name	Y8835	YBR028C	526.61	0.0557	NA
3	9	181	file-name	Y8835	YBR137W	NA	NA	{status=JK}
3	10	198	file-name	Y8835	YBR137W	520.88	0.0647	NA
3	11	186	file-name	Y8835	YBR027C	489.08	-0.044	NA
3	12	191	file-name	Y8835	YBR027C	501.44	-0.020	NA
3	13	172	file-name	Y8835	YBR134W	NA	NA	{status=JK}
3	14	204	file-name	Y8835	YBR134W	534.83	0.0286	NA
...
					</pre>
					</div>
	        		
	        		
	        		<p>Additional information returned from SGAtools includes status codes for colonies that did not meet a filter. 
	        		The codes and their corresponding descriptions are listed below:</p>
			
					<table class="table table-condensed">
					  <thead>
					    <tr>
					      <th>Fail status code</th>
					      <th>Description</th>
					    </tr>
					  </thead>
					  <tbody>
					  	<tr>
					      <td>LK</td>
					      <td><b>Linkage correction:</b> The array exists too close to the query on the chromosome</td>
					    </tr>
					    <tr>
					      <td>JK</td>
					      <td><b>Jackknife filter:</b> This colony induces too much variance in the sizes of other colonies in the replicate group</td>
					    </tr>
					    <tr>
					      <td>BG</td>
					      <td><b>Big replicates:</b> At least three colonies of this replicate are too large. The whole replicate is excluded</td>
					    </tr>
					    <tr>
					      <td>CP</td>
					      <td><b>Cap:</b> Normalized colony size was too large (> 1000) and was capped at 1000</td>
					    </tr>
					  </tbody>
					</table>
	        		
	        		
	        		</dd>
	        	
	        	
	        		<!--End output download-->
	        		<hr>
	        		
	        		<dt>Visualize your results</dt>
	        		<dd>
		        		To proceed to data analysis, click data analysis. This will direct you to the data analysis page
	        		</dd>
	        	</dl>
	        	
	        	
			
	        </div>
        </div>
        
        <div class="tab-pane" id="da">
          	<div class="page-header">
	        	<h2>Data analysis</h2>
	        </div>	
	        
        	<p>
        	This is the final step of the SGAtools pipeline and involves visualizing your processed data. There are two visualizations available:
        	</p>
        	
        	<ol>
	        	<li><b>Heatmap:</b> If you analyzed your images with SGAtools, your plate will appear adjacent to a heatmap of your processed data. 
	        	Hover over the heatmap for details of colonies
	        	<div class="thumbnail">
	        		<img src="@routes.Assets.at("images/help/da_heatmap.jpg")">
	        	</div>
	        	</li>
	        	
	        	<hr>
	        	
	        	<li><b>Histogram:</b> An interactive histogram of the data is shown. 
	        	Click and drag the histogram to create a window of data you would like to inspect
	        	<div class="thumbnail">
	        		<img src="@routes.Assets.at("images/help/da_histogram.jpg")">
	        	</div>
	        	</li>
	        	
        	</ol>
        	
        	<p>There are 3 types of processed data you can visualize: </p>
        	
        	<ol>
        		<li><b>Raw colony sizes:</b> The colony sizes as quantified by the image analysis software</li>
        		<li><b>Normalized colony sizes:</b> The colony sizes normalized by SGAtools</li>
        		<li><b>Score:</b> Colony score against control plate (this is only available if the plate is not a 
        		control and sufficient data was provided to score)</li>
        	</ol>
        	
        	<p>Select a specific plate from the drop down and the type of data you would like to visualize. 
        	You can also adjust the range of values to be displayed.</p>
	        	
        </div>
        
        <!--
        <div class="tab-pane" id="fa">
          	<div class="page-header">
	        	<h2>FAQs</h2>
	        </div>
        </div>
        -->
        
      </div><!--End tab content-->
    </div><!--End tabbable-->
}