
@main("Home", nav="hm") {
   
	<!-- Carousel -->	
	<div id="carousel" class="carousel slide" rel="carousel">
		<!-- Carousel items -->				
		<div class="carousel-inner">
			<div class="item">
				<img src="http://placehold.it/1000x350">
			</div>
			<div class="item active">
				<img src="http://placehold.it/1000x350/222222/fff">
			</div>
			<div class="item">
				<img src="http://placehold.it/1000x350/0081CC/fff">
			</div>
		</div>
		<!-- Carousel navigation -->
		<a class="carousel-control left" href="#carousel" data-slide="prev">‹</a>
		<a class="carousel-control right" href="#carousel" data-slide="next">›</a>
	</div>
	
	<hr>

	<div class="row">
		<div class="span4 home-columns" style="margin-bottom: 20px;">
			<i class="icon-camera pull-left"></i>
			<div class="content">
				<h2>Image analysis</h2>
				<p>Utilizes the image analysis software, <a href="http://sourceforge.net/projects/ht-col-measurer/">HT colony grid analyzer</a> to determine and provide accurate pixel colony sizes. See details of the software here</p>
			</div>
		</div>
		<div class="span4 home-columns" style="margin-bottom: 20px;">
			<i class="icon-bar-chart pull-left"></i>
			<div class="content">
				<h2>Normalization</h2>
				<p>Comprehensive filtering and reduction of several plate/experimental artifacts to drastically enhance the quality of your data and allow for further processing</p>
			</div>
		</div>
		<div class="span4 home-columns" style="margin-bottom: 20px;">
			<i class="icon-tasks pull-left"></i>
			<div class="content">
				<h2>Scoring</h2>
				<p>Use control screens or single mutant fitness data to score normalized colony sizes allowing you to identify biologically meaningful genetic interactions</p>
			</div>
		</div>
		
	</div>
	
    <h2 style="color:red">UNDER DEVELOPMENT: DO NOT USE</h2>
    
}