
@main("Home", nav="hm") {
   	
	<!-- Carousel -->	
	<div id="carousel" class="carousel slide" rel="carousel">
		<!-- Carousel items -->				
		<div class="carousel-inner">
			<!--<div class="item active">
				<center>
				<div class="brand" style="width:1000px; height:200px; font-size:80px; padding-top:65px; color: #222">
					<img src="@routes.Assets.at("images/sgaicon.png")" style="height:75px;margin-top:-15px;">
					<b class="heavy">SGA</b>tools<br>
					<div style="font-size:30px">Tools for the analysis and visualization of genetic screens</div>
					
				</div>
				</center>

			</div>-->
			<div class="item active">
				<img src="@routes.Assets.at("images/slider/ia_cover.jpg")">
				<div class="carousel-caption">
                      			<h4>Image analysis</h4>
                      			<p>Easily and rapidly quantify colony sizes through grid fitting.</p>
                    		</div>	
			</div>
			<div class="item">
				<img src="@routes.Assets.at("images/slider/ns_cover.jpg")">
				<div class="carousel-caption">
                      			<h4>Normalization</h4>
                      			<p>Remove unwanted nutrition and image-based effects and apply filters to enhance the quality of your data.</p>
                    		</div>	
			</div>
			<div class="item">
				<img src="@routes.Assets.at("images/slider/da_cover.png")">
				<div class="carousel-caption">
                      			<h4>Data analysis</h4>
                      			<p>Instant and interactive feedback of your analysis, provided straight through your browser.</p>
                    		</div>	
			</div>
			
		</div>
		<!-- Carousel navigation -->
		<a class="carousel-control left" href="#carousel" data-slide="prev">‹</a>
		<a class="carousel-control right" href="#carousel" data-slide="next">›</a>
	</div>
	
	<hr>

	<div class="row">
		<div class="span4 home-columns" style="margin-bottom: 20px;">
			<i class="icon-camera pull-left"></i>
			<div class="content">
				<h2>Image analysis</h2>
				<p>Utilizes the image analysis software, <a href="http://sourceforge.net/projects/ht-col-measurer/">HT colony grid analyzer</a> to determine and provide accurate pixel colony sizes. See details of the software here</p>
			</div>
		</div>
		<div class="span4 home-columns" style="margin-bottom: 20px;">
			<i class="icon-bar-chart pull-left"></i>
			<div class="content">
				<h2>Normalization</h2>
				<p>Comprehensive filtering and reduction of several plate/experimental artifacts to drastically enhance the quality of your data and allow for further processing</p>
			</div>
		</div>
		<div class="span4 home-columns" style="margin-bottom: 20px;">
			<i class="icon-tasks pull-left"></i>
			<div class="content">
				<h2>Scoring</h2>
				<p>Use control screens or single mutant fitness data to score normalized colony sizes allowing you to identify biologically meaningful genetic interactions</p>
			</div>
		</div>
		
	</div>
	
	<hr>
	
	<center>
		<a href="@routes.Assets.at("images/sgatools_example_images.zip")" style="font-size:18px;" class="btn btn-large"><i class="icon-download"></i> Download example images</a>
		<a href="@routes.IAcontroller.initIAForm()" style="font-size:18px;" class="btn btn-large"><i class="icon-signin"></i> Get started</a>
	</center>
	
    
}