@(title: String, nav: String)(content: Html)

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>SGAtools | @title</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Tools for image processing, normalizing and scoring Synthetic Genetic Array screens">
		<meta name="author" content="Omar Wagih">
		
		<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Open+Sans:600,700,800,300,400' rel='stylesheet' type='text/css'>
		<!-- Custom css -->
		<link href="@routes.Assets.at("stylesheets/style.css")" rel="stylesheet">
		<link href="@routes.Assets.at("external/jasny-extensions/css/jasny-bootstrap.min.css")" rel="stylesheet">
		<link href="@routes.Assets.at("external/font-awesome/css/font-awesome.css")" rel="stylesheet">
		<link href="@routes.Assets.at("stylesheets/docs.css")" rel="stylesheet">
    
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	
		<script type="text/javascript" src="@routes.Assets.at("javascripts/sgatools.js")"></script>
		<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/jquery.cookie.js")"></script>
		<script src="@routes.Assets.at("external/bootstrap-toggle/js/jquery.toggle.buttons.js")"></script>
		<link href="@routes.Assets.at("external/bootstrap-toggle/stylesheets/bootstrap-toggle-buttons.css")" rel="stylesheet">
		<script src="@routes.Assets.at("javascripts/jquery.csvToTable.js")"></script>
		
		<script>
		$(document).ready(function(){
			$('.toggle-button').toggleButtons();
			
			if (window.File && window.FileReader && window.FileList && window.Blob) {
			  // Great success! All the File APIs are supported.
			} else {
			  //alert('The File APIs are not fully supported in this browser.');
			  $('#main-content').hide();
			  $('#browser-error').show();
			}
		});
		</script>
		
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-39148235-1']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>
	</head>
	
<body>
	
    <!--Stickyfooter: Wrap all page content here -->
    <div id="wrap">
		<!-- Navigation -->
		<div class="navbar navbar-fixed-top"> 
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="@routes.Application.index()">
						<img src="@routes.Assets.at("images/sga_icon_small.png")" style="height:32px;margin-top:-7px;" alt="SGAtools icon">
						<b class="heavy">SGA</b>tools
					</a>
					<div class="nav-collapse">
						<ul class="nav">
							<li class="@("active".when(nav == "ia"))"><a href="@routes.IAcontroller.initIAForm()">Image analysis</a></li>
							<li class="@("active".when(nav == "ns"))"><a href="@routes.NScontroller.initNSform()">Normalization & Scoring</a></li>
							<li class="@("active".when(nav == "da"))"><a href="#">Data visualization</a></li>
							
						</ul>
						<ul class="nav pull-right">
							<li class="@("active".when(nav == "hp"))"><a href="@routes.Application.renderHelpPage()">Help</a></li>
							<li class="@("active".when(nav == "cn"))"><a href="@routes.Application.renderContactPage()">Contact</a></li>
							<li class="@("active".when(nav == "ab"))"><a href="@routes.Application.renderAboutPage()">About</a></li>
						</ul>
					</div><!--/.nav-collapse -->
				</div><!-- end .container -->
			</div><!-- end .navbar-inner -->
		</div><!-- end .navbar -->

		<!-- Content -->
		<div class="container" style="padding-top:90px">
			
			<script>
			
			</script>
			
			<div class="alert alert-block alert-error hide" id="browser-error" style="margin-bottom:15px; font-size:17px">
			  <div class="tip-content">
				  <strong>Warning </strong> Your browser does not support the latest version of HTML for you to be able to use SGAtools. Please update your browser to the latest version and try again.
			  </div>
			</div>
			
			<div id="main-content">
			@content
			</div>
			
			<div id="push"></div>
	    </div>
	</div> <!--end wrap-->    
    
    
	<!-- Footer -->
	<div id="footer">
      <div class="container">
        <center><p class="muted credit">© 2012 Boone lab ⋅ <a target="_blank" href="https://github.com/boonelab/sgatools/issues">Issue tracker</a> ⋅ <a href="https://github.com/boonelab/sgatools/tree/master/public/SGAtools" target="_blank">Download</a></p></centre>
      </div>
    </div>
    
	<!-- Javascript -->
	@modal("helpModal", "helpModalHeading", "helpModalBody")
	@modal("arrayDefModal", "arrayDefModalHeading", "arrayDefModalBody")
	
	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("external/jasny-extensions/js/bootstrap-fileupload.js")"></script>
	<script type="text/javascript">
			$('#helpModal').modal({show:false});
			$('#arrayDefModal').modal({show:false});
	</script>
	
</body>
</html>
