@(modalId: String, headingId: String, bodyId: String)

<div id="@modalId" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="@headingId" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 id="@headingId">Heading</h3>
    </div>
    <div class="modal-body" id="@bodyId">
    	
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal">Close</button>
    </div>
</div>